

extends ../layouts/slideout.jade
block content
    #a1.step(data-x="-61250", data-y="21000", data-scale="6")
    #a2.step(data-x="-51550", data-y="21000", data-scale="6")
    #a3.step(data-x="-41850", data-y="21000", data-scale="6")
    #a4.step(data-x="-41850", data-y="17500", data-scale="6")
    #a5.step(data-x="-51550", data-y="17500", data-scale="6")

    #end.step(data-x="45450", data-y="-17500", data-scale="6")
      p 谢谢
    
    #overview.step(data-x="0", data-y="20", data-z="100000", data-scale="10")
